* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.button {
  background: transparent;
  padding: 13px;
  border: 0.7px solid rgba(0, 0, 0, 0.423);
  border-radius: 25px;
}

.button:hover {
  cursor: pointer;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

::-webkit-scrollbar {
  display: none;
}