* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.423);
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}