.card1 {
    width: 200px;
    height: 350px;
    /* background-color: rgb(56, 96, 96); */
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.084);
    overflow: hidden;
}

.card1>div:nth-of-type(1) {
    width: 100%;
    height: 60%;
    /* background-color: rgb(189, 189, 189); */
}

.card1>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1>div:nth-of-type(2) {
    width: 100%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.textcont>span {
    height: 60%;
    overflow: hidden;
    text-overflow: clip;
    font-size: 13px;
    /* background-color: aquamarine; */
    /* font-weight: bold; */
}

.textcont>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
}

.textcont>div>p {
    font-size: 18px;
    /* color: rgb(0, 0, 0); */
    /* background-color: aqua; */
    /* font-size: 12px; */
    /* color: rgb(189, 189, 189); */
}